@page
@model InventoryApp.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].PhoneNumberConfirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.PhoneNumberConfirmed)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@user.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
