@page
@model InventoryApp.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users (@Model.TotalUsers Total)</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.IdSort">Id</a>
                @if (Model.CurrentSort == "id_desc") { <span>&#x25BC;</span> }
                else if (Model.CurrentSort == "") { <span>&#x25B2;</span> }
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EmailSort">Email</a>
                @if (Model.CurrentSort == "email_desc") { <span>&#x25BC;</span> }
                else if (Model.CurrentSort == "Email") { <span>&#x25B2;</span> }
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EmailConfirmedSort">Email Confirmed</a>
                @if (Model.CurrentSort == "emailConfirmed_desc") { <span>&#x25BC;</span> }
                else if (Model.CurrentSort == "EmailConfirmed") { <span>&#x25B2;</span> }
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PhoneNumberSort">Phone Number</a>
                @if (Model.CurrentSort == "phoneNumber_desc") { <span>&#x25BC;</span> }
                else if (Model.CurrentSort == "PhoneNumber") { <span>&#x25B2;</span> }
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PhoneNumberConfirmedSort">Phone Number Confirmed</a>
                @if (Model.CurrentSort == "phoneNumberConfirmed_desc") { <span>&#x25BC;</span> }
                else if (Model.CurrentSort == "PhoneNumberConfirmed") { <span>&#x25B2;</span> }
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AdminSort">Admin</a>
                @if (Model.CurrentSort == "admin_desc") { <span>&#x25BC;</span> }
                else if (Model.CurrentSort == "Admin") { <span>&#x25B2;</span> }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.PhoneNumberConfirmed)
            </td>
            <td>
                @(Model.IsAdmin[user.Id] ? "Yes" : "No")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@user.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@user.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
