@page
@model WebApp.Pages.Inventory.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].PC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].Display)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].Keyboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].Mouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InventoryItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keyboard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mouse)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
