@page
@model InventoryApp.Pages.Inventory.IndexModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}

<h1>Inventory</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].PC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].Display)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].Keyboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItem[0].Mouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InventoryItem)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Display)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyboard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mouse)
                </td>
                <td>
                    @if (item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier) || User.IsInRole("Administrator"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <text> | </text>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    @if (item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier) || User.IsInRole("Administrator"))
                    {
                        <text> | </text>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
